.head{
    background-color: #0F3460;
    font-family: 'Poppins', sans-serif;
    padding: 5px 60px ;
}
.head label{
    font-size: 14px;
}
.social-row i{
    padding: 4px;
    font-size: 14px;
}


@media screen and (max-width:992px) {
   
    .head{
        padding: 10px 30px ;
    }
}
@media screen and (max-width:900px) {
   
    .head{
       display: none;
    }
}