.productDetail{
    padding-top: 200px;
    padding-bottom: 342px;
}
.productDetailImg{
    width: 250px;
    height: 250px;
}
.productDetailImg img{
    width: 100%;
    height: 100%;
}

/* Responsive */
@media screen and (max-width:767px) {
    .productDetailImg{
        width: 200px;
        height: 200px;
    }
    
}
@media screen and (max-width:430px) {
    .productDetailImg{
        width: 150px;
        height: 150px;
    }
    .productDetail h3{
        font-size: 20px;
    }
    
}