.topCategories{
    font-family: 'Poppins', sans-serif;
}
.topCategories small{
    background-color: #1E152F;
    padding: 2px 8px;
    border-radius: 10px;
    font-size: 12px;

}
.topCatImg{
    width: 85px;
    height: 95px;
}
.topCatImg img{
    width: 100%;
    height: 100%;
}
/* Responsive */
@media screen and (max-width:1399px) {
    .topCatImg{
        width: 80px;
        height: 90px;
    }
}
@media screen and (max-width:767px) {
    .topCatImg{
        width: 60px;
        height: 90px;
    }
}
@media screen and (max-width:530px) {
    .topCatImg{
        width: 50px;
        height: 90px;
    }
}
