.topCategories{
    font-family: 'Poppins', sans-serif;
}
.topCategories small{
    background-color: #1E152F;
    padding: 2px 8px;
    border-radius: 10px;
    font-size: 12px;

}
.topCatImg{
    width: 200px;
    height: 100px;
}
.topCatImg img{
    width: 100%;
    height: 100%;
}