.registration{
    font-family: 'Poppins', sans-serif;
    padding-bottom: 310px;

}
.regiemailForm,.regipasswordForm{
    width: 450px;
}
.registrationButton{
    background-color: #0F3460;
}
.registrationButton:hover{
    background-color: #1E152F;
}

/* Responsive */
@media screen and (max-width:500px) {
    .regiemailForm{
       width: 250px;
   }
   .regipasswordForm{
       width: 250px;
   }
}