
.loginPage{
    font-family: 'Poppins', sans-serif;
    padding-bottom: 310px;
}
.emailForm,.passwordForm{
    width: 450px;
    height: 40px;
}
.emailForm.form-control:focus {
    box-shadow: none;
    border-color: #0F3460;
}
.passwordForm.form-control:focus{
    box-shadow: none;
    border-color: #0F3460;
}
.logInButton{
    background-color: #0F3460;
}
.logInButton:hover{
    background-color: #1E152F;
}
/* Responsive */
@media screen and (max-width:500px) {
 .login{
    width: 350px;

    }
 .emailForm{
    width: 250px;
}
.passwordForm{
    width: 250px;
}
}