.search {
    position: relative;
    height: 40px;
    width: 500px;
    /* background: #fff; */
    border-radius: 8px;
  }
  
  .search i,
  .search .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .search i {
    right: 20px;
    font-size: 25px;
    color: #707070;
  }
  .search .closeBtn{
    cursor: pointer;
  }
  .search input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
    border: 3px solid rgb(194, 185, 185);
    padding: 0px 0px 0px 20px;
    background-color: transparent;
  }

  .dataResult{
    position: absolute;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    height: 300px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 10;
  }
  .dataResult::-webkit-scrollbar{
    display: none;
  }
  .productDetails{
      padding: 6px 50px 0px;
  }
  /* .productDetails:hover{
    background-color: rgb(211, 204, 204);
  } */

  .searchImg{
    width: 40px;
    height: 40px;
  }
  .searchImg img{
    width: 100%;
    height: 100%;
  }
  /* Responsive */
  @media screen and (max-width:1200px){
    .searchSection{
      padding-right: 30px;
    }
  }
  @media screen and (max-width:1199px){
   .search{
    width: 300px;
   }
}
  @media screen and (max-width:991px){
   .search{
    width: 400px;
   }
}
  @media screen and (max-width:575px){
   .search{
    width: 300px;
   }
}
  @media screen and (max-width:450px){
   .search{
    width: 250px;
   }
}
  @media screen and (max-width:400px){
    .searchSection{
      padding-right: 10px;
    }
    .search input{
      font-size: 12px;
    }
   .search{
    width: 220px;
   }
}