.search {
    position: relative;
    height: 50px;
    max-width: 900px;
    width: 100%;
    background: #fff;
    margin: 0 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .search i,
  .search .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .search i {
    right: 20px;
    font-size: 26px;
    color: #707070;
  }
  .search .closeBtn{
    cursor: pointer;
  }
  .search input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
  }

  .dataResult{
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    height: 300px;
    overflow: hidden;
    overflow-y: auto;
  }
  .dataResult::-webkit-scrollbar{
    display: none;
  }
  .productDetails{
      padding: 6px 60px 0px;
  }
  /* .productDetails:hover{
    background-color: rgb(211, 204, 204);
  } */

  .searchImg{
    width: 40px;
    height: 40px;
  }
  .searchImg img{
    width: 100%;
    height: 100%;
  }
  /* Responsive */
 @media screen and (max-width:1442px) {
    .search {
      width: 600px;
      height: 50px;
      /* margin: 0 8px; */
    }
    .search i {
      left: 12px;
      font-size: 25px;
    }
    .search input {
      padding: 0 112px 0 50px;
    }
  
  }
 @media screen and (max-width:1192px) {
    .search {
      width: 500px;
      height: 50px;
     
    }
    .search i {
      left: 12px;
      font-size: 25px;
    }
    .search input {
      padding: 0 112px 0 50px;
    }
  
  }
 @media screen and (max-width:1092px) {
    .search {
      width: 395px;
      height: 50px;
     
    }
    .search i {
      left: 12px;
      font-size: 25px;
    }
    .search input {
      padding: 0 112px 0 50px;
    }
   
  }
  
 @media screen and (max-width:991px) {
    .search {
      width: 900px;
      height: 50px;
      margin: 10px 8px;
    }
    .search i {
      left: 12px;
      font-size: 25px;
    }
    .search input {
      padding: 0 112px 0 50px;
    }
  
  }
  